<%-include('../home_page_navbar.ejs')-%>
<div class="row  wrap " style="height:100vh">
    <div class="col col-lg-4 " style="position:fixed;">
       <div class="bookdetail_cover_container" >
         <img src="http://localhost:3000/image/Books/<%=book[0].IMAGE_URL%>" alt="" class="bookdetail_cover">
         <div class="btn-group">
            <form action="/add_shelve/<%=book[0].BOOK_ID%>" method="post">
              <button class="btn  btn-lg button-left" name="bookbutton" type="submit" value="Want to Read" id="wanttoreadbutton" onclick="want_to_read_bttonchange()">
                Want to Read
              </button>
            </form>
            
            <button type="button" class="btn btn-dark btn-lg button-right dropdown-toggle dropdown-toggle-split" data-bs-toggle="modal" data-bs-target="#book_modal" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
      
          </div>
          
       </div>
      

    
    </div>
    <div class="col col-lg-8" style="margin-left:32rem; justify-content:space-between ;height:100vh;">
     <h1><%= book[0].TITLE.toUpperCase()%></h1>
     
   <h5 style="font-size: 16px; padding:0rem 1rem ;font-weight:lighter"><%= book[0].AUTHOR_NAME%></h5>
   <p class="text-muted">.<%=review_count[0].COUNT%> reviews</p>
    <div class="book_detail_description">
        <p ><%= book[0].DESCRIPTION%></p>
    </div>
     <div class="genre_show">
      <% for(e of genre){%>
       <span class="genre_name"><%=e.GENRE_NAME.toUpperCase()%></span>
      <%}%>
     </div>
    <button style="margin-top:2rem;" class="collapse_button" type="button" data-bs-toggle="collapse" data-bs-target="#book_info" aria-expanded="false" aria-controls="collapseExample">
      More Book info <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>
  
    <div class="book_information collapse text-muted" id="book_info">
        <div>
          <p>Publisher name:<%= book[0].PUBLISHER_NAME%></p>
          <p>Publication Date:<%= book[0].PUBLICATION_DATE.toISOString().slice(0,10)%></p>
          <p>Language:<%= book[0].LANGUAGES%></p>
          <p>Number of pages:<%=book[0].NUMBER_OF_PAGES%> pages</p>
          <p>ISBN:<%=book[0].ISBN%></p>
          
        </div>
    </div>
      <hr>
      <div class="number_of_people_reading ">
        <div class="row">
        <div class="col-lg-6">
          <%=people[0].PEOPLECOUNT%> people are currently reading
        </div>
        <div class="col-lg-6">
          <%=people[1].PEOPLECOUNT%>  people want to read
        </div>
        </div>
        
      </div>
      <hr>
      <div>
        <h1>About the author</h1>
        <div class="row about-author">
         <div class="col col-lg-12 ">
         <img src="http://localhost:3000/image/user/<%=author[0].IMAGE_URL%>" alt="" class="author-image">
          <span class="author-title"><a href="/author_detail/<%= author[0].USER_ID%>"><%=author[0].AUTHOR_NAME%></a></span> <br>
          <span class="text-muted book_number"><%=author_book_count[0].COUNT%> books in this site</span>
          <span class="text-muted book_number" style="margin-left:0.5rem">.<%=author_follower[0].COUNT%> Followers</span>
         </div>
         <div class="col col-lg-12 author_description">
           <DIV class="author_des">
            <%=author[0].ABOUT%>
           </DIV>
           <div class="author_follow">
           <form action="/follow_author/<%=user.USER_ID%>/<%= book[0].USER_ID%>/<%= book[0].BOOK_ID%>" method="post">
            <button class="btn " id="follow" type="submit">
             
            </button>
           </form>
           </div>
          
         </div>

        </div>
      </div>
      <hr>
      <div class="review_section" >
        <p class="review-title">Ratings & Reviews</p>
        <div class="row">
          <div class="col-lg-4">
            <p style="font-weight:bold;">My Review </p><br>
            <img src="/image/default.jpg" alt="" class="profile-image " style="margin:1rem;"><br>
            <p class="user_name_in_review_section">
              <%=user.USER_NAME%>
            </p>
          </div>
          <div class="col-lg-8" >
                
              <button class="btn btn-dark btn-lg button_round review_button" type="button" data-bs-toggle="collapse" data-bs-target="#give_review" aria-expanded="false" aria-controls="collapseExample">Write a Review</button>
              <div class="collapse" id="give_review">
               <form action="/review/<%=book[0].BOOK_ID%>" id="review" method="POST">
                <textarea name="review_body" form="review" cols="50" rows="10">
                  Give a review....
                </textarea>
                <br>
                <button class="btn btn-dark" type="submit">submit</button>

               </form>

               <div class="p-3 d-none" id="ratings_reviews_form">
                <form class="js--review-form" action="/review/<%=book[0].BOOK_ID%>" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="bookId" id="bookId" value=<%= book.ID %>>
                        <textarea required maxlength="500" name="review" class="form-control" id="js--review-writing" rows="3"
                                  placeholder="Please write your honest opinion and give a rating"></textarea>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="rating">
                            <input required type="radio" name="rating" value="5" id="5">
                            <label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4">
                            <label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3">
                            <label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2">
                            <label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1">
                            <label for="1">☆</label>
                        </div>
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
              </div>
            
          </div>
        </div>
      </div>
         
      <hr>
      <div class="row ">
        <div  class=" col col-lg-2">
          
        </div>
        <div class="col col-lg-10 text-muted" style="height:5rem;"  ></div>
       
        <% if (review_info.length>0){%>
          <% for(e of review_info) {%>
         <div  class=" col col-lg-2"  >
          <img src="http://localhost:3000/image/user/<%=e.IMAGE_URL%>" alt="" class="profile-image "> <br>
          <p><%= e.USER_NAME%></p>
          <p class="text-muted"><%= e.DATE_ADDED.toISOString().slice(0,10)%></p>
         </div>
         <div class="col col-lg-10" style="margin: auto 0rem;">
          <p><%=e.REVIEW_BODY%></p>
          <br>
          <br>
          <% for(f of likes){%>
            <% if(f.REVIEW_ID===e.REVIEW_ID){%>
              <span class="text-muted" style="margin:0.5rem 1rem" >
                <%=f.COUNT%> likes 
              </span>
              <%}%>
                <%}%>
                <% for(h of comment_count){%>
                  <% if(h.REVIEW_ID===e.REVIEW_ID){%>
                    <span class="text-muted" style="margin:0.5rem 0rem" >
                      .<%=h.COUNT%> comments.
                    </span>
                    <%}%>
                      <%}%>
          <form action="/review_like/<%=e.REVIEW_ID%>/<%= book[0].BOOK_ID%>" method="post">
            <button class="like_button" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
              <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
            </svg> <span class="like_comment">like</span>
           </button>
              
          <button class="like_button" type="button"data-bs-toggle="collapse" data-bs-target="#comment<%=e.REVIEW_ID%>" aria-expanded="false" aria-controls="comment"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
          </svg><span class="like_comment">Comment</span></button>
          </form>
       
          <div class="collapse" id="comment<%=e.REVIEW_ID%>">
            <div class="card" style="border:transparent;">
             <div class="card-content">
               <div class="card-body">
                 <div class="row" style="justify-content:space-between;">
                   <div class="col col-lg-4"></div>
                   <div class="col col-lg-8"></div>
                   <hr>
                   <% for(g of comment){%>
                    <% if(g.REVIEW_ID===e.REVIEW_ID){%>
                      <div class="col col-lg-12" style="justify-content:space-between">
                        <img src="http://localhost:3000/image/user/<%=g.IMAGE_URL%>" alt="" class="profile-image ">
                        <span style="font-weight: bold; margin:0rem 1rem" >
                          <%= g.USER_NAME%>
                        </span>
                        <span class="text-muted">
                          <%= g.DATE_ADDED.toISOString().slice(0,10)%>
                        </span>
                        <p style="margin:0rem 4rem">
                          <%=g.COMMENT_BODY%>
                        </p>
                      </div>
                   
                   <hr style="margin: 1rem 0rem;">
                      <%}%>
                        <%}%>
                   <form action="/review_comment/<%=e.REVIEW_ID%>/<%=book[0].BOOK_ID%>" method="post">
                    <div class="row">
                      <div class="col col-lg-8"> <input type="text" class="form-control" name="comment_body" placeholder="Comment on this review"></div>
                      <div class="col col-lg-4"> 
                        <button class="btn btn-dark">Comment</button></div>
                    </div>
                   
                   </form>
                 </div>
               </div>
             </div>
           
            </div>
           </div>
        </div>
        <hr style="margin: 1rem 0rem;">
        <%}%>
        <%}%>
        <!-- <div class=" col col-lg-4"  style="height:50rem;">
        cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
        </div>
        <div class="col col-lg-8"  style="height:50rem;">
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
          cjkdncjdcbshcvhgcshggvscvcbdhccvdhcdhbdh
        </div> -->
      </div>
      </div>

</div>

<div class="modal fade modal-sm" id="book_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2" style="font-size: 18px;">Choose a shelf for this book:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
    
        <div class="modal-body">
          
          <form action="/add_shelve/<%=book[0].BOOK_ID%>" method="post">
            <div class="row">
              
              
              <div class="col-lg-12 d-grid  gap-2 gap-between ">
            
                <button type="submit" class="btn btn-lg  button_round" id="wanttoreadbutton2" onclick="want_to_read_bttonchange() "style="color:black ; border-color:black; font-size: 18px;" name='bookbutton'value="Want to Read"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>Want to Read</button>
              </div>
              <div class="col-lg-12 d-grid  gap-2 gap-between">
                <button type="submit" class="btn btn-lg  button_round" id="Reading"style="color:black ;border-color:black;font-size: 18px;" name="bookbutton"value="Currently Reading">Currently Reading</button>
              </div>
              <div class="col-lg-12 d-grid  gap-2 gap-between">
                <button type="submit" class="btn btn-lg  button_round" id="hasread" style="color:black ;border-color:black;font-size: 18px;" name="bookbutton" value="Read">Read</button>
              </div>
              
             
            </div>
            
          </form>
        </div>
        
        
      </div>
    </div>
  </div>
  <script>
    window.addEventListener("load",(event)=>{
      let count1= "<%= user_Reading[0].COUNT%>";
      console.log(count1);
      if(count1>0)
      {
        let element =document.getElementById("Reading");
        element.classList.add('btn-dark');
        element.style.color="white"
       element.innerHTML='Added to Reading shelf';
      }
      else
      {
        let element =document.getElementById("Reading");
       
       
       element.innerHTML='Currently Reading';
       
       element.classList.add('btn-outline-dark');
      }
      let count2= "<%= user_hasread[0].COUNT%>";
      console.log(count2);
      if(count2>0)
      {
        let element =document.getElementById("hasread");
        element.classList.add('btn-dark');
        element.style.color="white"
       element.innerHTML='Added to Read shelf';
      }
      else
      {
        let element =document.getElementById("hasread");
       
       
       element.innerHTML='Read';
       
       element.classList.add('btn-outline-dark');
      }
      let count3= "<%= user_willread[0].COUNT%>";
      console.log(count2);
      if(count3>0)
      {
        let element =document.getElementById("wanttoreadbutton");
        element.classList.add('btn-dark');
        element.style.color="white"
       element.innerHTML='Added to shelf';
       let element2 =document.getElementById("wanttoreadbutton2");
        element2.classList.add('btn-dark');
        element2.style.color="white"
       element2.innerHTML='Added to WantToRead shelf';
      }
      else
      {
        let element =document.getElementById("wanttoreadbutton2");
       
       
       element.innerHTML='Want To Read';
       
       element.classList.add('btn-outline-dark');
       
       let element2 =document.getElementById("wanttoreadbutton");
       
       
       element2.innerHTML='Want To Read';
       
       element2.classList.add('btn-outline-dark');
      }
      let count4= "<%= author_following[0].COUNT%>";
      if(count4>0)
      {
        let element =document.getElementById("follow");
        element.innerHTML='Following..';
        element.classList.add('btn-success');
       
      }
      else
      {
        let element =document.getElementById("follow");
        element.innerHTML='Follow';
        element.classList.add('btn-dark');
      }
     let user="<%=user.USER_ID%>"
     console.log(user);
    })
    function want_to_read_bttonchange()
    {  event.preventDefault()
      const element=document.getElementById("wanttoreadbutton");
      const element2=document.getElementById("wanttoreadbutton2");
      element.classList.remove('btn-dark');
     element.classList.add('btn-outline-dark');
     element.innerHTML='Added to shelf'
     element2.classList.remove('btn-dark');
     element2.classList.add('btn-outline-dark');
     element2.innerHTML='Added to shelf'

     
     
    }
  </script>
<%- include('../Footer')-%>