<%-include('Header')-%>
  <title>My account</title>
  </head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/CSS/styles.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#023047;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-book fa-1x brand-icon"></i>Book <span
            class="title">Miejsce</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-3 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/api//Home_page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/your_book">My Books</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Search
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Book</a></li>
                <li><a class="dropdown-item" href=""  data-bs-toggle="modal"  data-bs-target="#Author_Modal">Author</a></li>
                <li><a class="dropdown-item" href="" data-bs-toggle="modal"  data-bs-target="#genre_Modal">Genre</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Quote</a></li>
              </ul>
            </li>

          </ul>
          <form class="d-flex mx-auto searchBar" role="search" action="/Book-list" method="post">
            <input class=" search-input" type="search" placeholder="Search Books" aria-label="Search" name="search">
             
            <button class=" search-button" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="dropdown mx-5 gap-between">
          <div class="profile dropdown-toggle mx-5" data-bs-toggle="dropdown" aria-expanded="false"
            id="profiledropdown">
            <img src="/image/default.jpg" class="profile-image" alt="">
          </div>
          <ul class="dropdown-menu " aria-labelledby="profiledropdown">
            <p style="text-align: center;"> <%= user.USER_NAME %></p>
            <hr>
            <li>
              <form action="">
                <button class="dropdown-item"> Profile</button>
              </form>
            </li>
            <li>
              <form action="">
                <button class="dropdown-item"> Friends</button>
              </form>
            </li>
            <li>
              <form action="/user-following" method="get">
                <button class="dropdown-item"> Following</button>
              </form>
            </li>
            <hr>
            <li>
              <form action="">
                <button class="dropdown-item"> Account Settings</button>
              </form>
            </li>
            <li>
              <form action="">
                <button class="dropdown-item">Logout</button>
              </form>
            </li>

          </ul>
        </div>
    </nav>

    <!--cards-->
    <div class="container main">
      <p class="text-muted" style="font-size:1rem; text-align:center;">You currently have <%=bookcount[0].COUNT %> BOOK in your self</p>
      <div class="row">
        <div class="col-lg-4">
          <div class="container ">
            <div class="row gap-between container_divider">
              
              <div class="col-lg-12">
                <h5 class="reading_type">Currently Reading</h5>
                <% if (Reading.length>0 ){%>
                <div class="card border-0">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="http://localhost:3000/image/Books/<%=Reading[0].IMAGE_URL%>" alt="" class="card-img start">
                    </div>
                    <div class="col-md-8">
                      <div class="card body border-0">

                        <h5 class="card-text book_name link_hover"><%=Reading[0].TITLE%></h5>

                        <p>

                           <span class="author_name link_hover"><%=Reading[0].AUTHOR_NAME%></span>


                        </p>
                        <p class="card-text"><small class="text-muted">Book added to self in <%=Reading[0].DATE_ADDED.toISOString().slice(0,10)%></small></p>

                      </div>
                    </div>
                  </div>
                </div>
                <%}  else{%>
                <p>No book to this self </p>
                <%}%>
                <p><a href="/Reading_book">view all books</a></p>
              </div>
              

             <hr>
              <div class="col-lg-12">
                <h5 class="reading_type">Read</h5>
                <% if (hasread.length>0 ){%>
                  <div class="card border-0">
                    <div class="row">
                      <div class="col-md-4">
                        <img src="http://localhost:3000/image/Books/<%=hasread[0].IMAGE_URL%>" alt="" class="card-img start">
                      </div>
                      <div class="col-md-8">
                        <div class="card body border-0">
  
                          <h5 class="card-text book_name link_hover"><%=hasread[0].TITLE%></h5>
  
                          <p>
  
                             <span class="author_name link_hover"><%=hasread[0].AUTHOR_NAME%></span>
  
  
                          </p>
                          <p class="card-text"><small class="text-muted">Book added to self in <%=hasread[0].DATE_ADDED.toISOString().slice(0,10)%></small></p>
  
                        </div>
                      </div>
                    </div>
                  </div>
                  <%}else{%>
                  <p>No book to this self </p>
                  <%}%>
                  <p><a href="/hasread_book">view all books</a></p>
              </div>
              <hr>
              <div class="col-lg-12">
                <h5 class="reading_type">Want to Read</h5>
                <% if (willread.length>0 ){%>
                  <div class="card border-0">
                    <div class="row">
                      <div class="col-md-4">
                        <img src="http://localhost:3000/image/Books/<%=willread[0].IMAGE_URL%>" alt="" class="card-img start">
                      </div>
                      <div class="col-md-8">
                        <div class="card body border-0">
  
                          <h5 class="card-text book_name link_hover"><%=willread[0].TITLE%></h5>
  
                          <p>
  
                             <span class="author_name link_hover"><%=willread[0].AUTHOR_NAME%></span>
  
  
                          </p>
                          <p class="card-text"><small class="text-muted">Book added to self in <%=willread[0].DATE_ADDED.toISOString().slice(0,10)%></small></p>
  
                        </div>
                      </div>
                    </div>
                  </div>
                  <%}else{%>
                  <p>No book to this self </p>
                  <%}%>
                  <p><a href="/willread_book">view all books</a></p>
              </div>
            </div>
          </div>


        </div>
        <div class="col-lg-4">
          
        </div>
        <div class="col-lg-4">
          <div class="container ">
            <div class="row gap-between container_divider">
              <div class="col-lg-12">
                <h5 class="reading_type">Recommendations</h5>
                <div class="card border-0">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="/image/Book cover 3.jpg" alt="" class="card-img start">
                    </div>
                    <div class="col-md-8">
                      <div class="card body border-0">

                        <h5 class="card-text book_name link_hover">The Alchemist</h5>

                        <p>

                          by <span class="author_name link_hover">PAULO COLEHO</span>


                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <p> <button class="btn btn-dark" style="background-color: #023047;">Want to Read</button></p>
              </div>
             <hr>
             </div>
        </div>
      </div>
    </div>






















    <!-- <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">Custom cards</h2>

      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('unsplash-photo-1.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                    class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>Earth</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>3d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('unsplash-photo-2.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                    class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>Pakistan</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>4d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                    class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>California</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>5d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="modal fade modal-sm" id="Author_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          
          <div class="modal-body">
            
            <form action="/author" method="post">
              <div class="row">
                <div class="col-lg-12 gap-between form-floating">
                  
                  <input type="text" name="author_name" class="form-control" id="authorname" placeholder="Search by author name" required>
                  <label for="authorname" class="form-label">Author Name</label>
                </div>
                
                <div class="col-lg-12 d-grid  gap-2 gap-between">
                  <button type="submit" class="btn btn-lg btn-outline-dark">Search</button>
                </div>
                
               
              </div>
              
            </form>
          </div>
          
          
        </div>
      </div>
    </div>
    
    <div class="modal fade modal-sm" id="genre_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          
          <div class="modal-body">
            
            <form action="/genre" method="post">
              <div class="row">
                <div class="col-lg-12 gap-between form-floating">
                  
                  <input type="text" name="genre_name" class="form-control" id="genrename" placeholder="Search by genre name" required>
                  <label for="genrename" class="form-label">Genre</label>
                </div>
                
                <div class="col-lg-12 d-grid  gap-2 gap-between">
                  <button type="submit" class="btn btn-lg btn-outline-dark">Search</button>
                </div>
                
               
              </div>
              
            </form>
          </div>
          
          
        </div>
      </div>
    </div>

    <%- include('Footer')-%>