<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="CSS/edit-profile.css" rel="stylesheet">
</head>

<body>
    <div class="col-md-10 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row">
                    <div style="text-align: left; padding-left:2rem">
                        <h1>My account</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!--Info-->
                <form>
                    <h6 class="heading-small text-muted mb-4">User information</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-username">Username</label>
                                    <input type="text" id="input-username" class="form-control form-control-alternative"
                                        placeholder="Username" value="<%=user.USER_NAME%>">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email address</label>
                                    <input type="email" id="input-email" class="form-control form-control-alternative"
                                        placeholder="jesse@example.com" value="<%=user.EMAIL%>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-full-name">Full name</label>
                                    <input type="text" id="input-full-name"
                                        class="form-control form-control-alternative" placeholder="Full name"
                                        value="<%=user.FULL_NAME%>">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-last-name">Password</label>
                                    <input type="password" id="input-password"
                                        class="form-control form-control-alternative" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-gender">Gender</label>
                                    <input type="text" id="input-gender" class="form-control form-control-alternative"
                                        placeholder="M/F" value="<%=user.GENDER%>">
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-address">Address</label>
                                    <input id="input-address" class="form-control form-control-alternative"
                                        placeholder="Home Address" type="text" value="<%=user.ADDRESS%>" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <!-- Bio -->
                    <h6 class="heading-small text-muted mb-4">About me</h6>
                    <div class="pl-lg-4">
                        <div class="form-group focused">
                            <label>About Me</label>
                            <textarea rows="4" class="form-control form-control-alternative"
                                placeholder="A few words about you ..."><%=user.BIO%></textarea>
                        </div>
                        <div class="form-group focused">
                            <label>Image URL</label>
                            <textarea rows="1" class="form-control form-control-alternative"
                                placeholder="URL"><%=user.IMAGE_URL%></textarea>
                        </div>
                    </div>
                    <div class="text-right ">
                        <a href="#!" class="btn btn-sm btn-primary">
                            <h2 style="margin: auto;">Save</h2>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>